.navbar{
    background-color: rgb(14, 13, 39);
    opacity: 90%;
    
}
.nav-link{
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-right:50px;
    
}

p{
 font-size: 130px;
 text-align: right;
 font-family: 'Times New Roman', Times, serif;
 font-weight: bolder;
 margin-top: 15%;
 color: black;
 
}

div ul li a{
margin-right:50px;
}

